.image-wrapper {
  img {
    width: 100%;
    max-height: 13.7rem;
    object-fit: cover;
    object-position: top;
    border-radius: var(--radius) var(--radius) 0 0;

    @media screen and (min-width: $bp-mobile) {
      height: 100%;
      max-height: 100%;
      border-radius: var(--radius) 0 0 var(--radius);
    }
  }
}

///////////////////////////////
.contents {
  padding: 1.5rem;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__header {
    font-size: 1.1rem;

    @media screen and (min-width: $bp-mobile) {
      font-size: 1.3rem;
    }
  }

  .profile-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__avater {
      width: auto;
      max-height: 3rem;
      margin-right: 1rem;
      border-radius: 50%;
    }

    &__info {
      margin-right: auto;

      &__name {
        font-weight: bold;
      }
    }
  }
}

.share-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--Light-Grayish-Blue);
  border-radius: 50%;
  cursor: pointer;
}
